.footer {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-image: linear-gradient(to top,
            rgba($color-primary, 0.8),
            rgba($color-primary-dark, 1));
    font-size: 1.4rem;
    color: $color-white;
    box-shadow: -1px 10px 39px 53px rgba($color-primary-dark, 1);
    
    position: relative;
    .row {
        width: 100%;
    }

    .footer__logo {
        display: inline-block;
        align-self: center;
        width: 8rem;
        perspective: 150rem;
        -moz-perspective: 150rem;
        position: relative;
        text-align: center;
        margin-bottom: 8rem;
        height: 7rem;
        object-fit: cover;
        object-position: center center;
        cursor: pointer;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 8rem;
            clip-path: circle(47% at 50% 50%);
            z-index: 100;
            transition: all 0.5s ease;

            &:hover {
                transform: rotatey(-180deg);
            }
        }
    }

    .footer__nav {
        padding-top: 2rem;
        border-top: solid 1px $color-grey-dark;
        width: 80%;

        @include mq($tablet) {
            width: 100%;
            text-align: center;
            padding-top: 6rem;
        }
    }

    .footer__list {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }

    .footer__item {
        display: inline-block;
    }

    .footer__link {
        position: relative;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        background-color: $color-grey-darker;
        transition: all .2s;

        &:hover {
            transform: scale(1.3);
            color: $color-secondary-light;
            box-shadow: 0 1rem 2rem rgba($color-black, .5);
        }

        img {
            position: absolute;
            @include center;
            height: 5rem;
            width: 5rem;
            object-fit: cover;
        }
    }

    .phone__link {
        position: relative;

        &::after {
            display: none;
            position: absolute;
            left: 5rem;
            top: -1rem;
            content: '060/0118254';
        }

        &:hover::after {
            display: inline-block;

            @include mq($tablet) {
                display: none;
            }
        }
    }

    .footer__copyright {
        float: right;
        padding-top: 2rem;
        border-top: solid 1px $color-grey-dark;
        width: 80%;

        @include mq($tablet) {
            width: 100%;
            float: none;
            padding-top: 6rem;
        }
    }
}