.header {

    height: 80rem;
    background-image:
      linear-gradient(to right bottom,
             rgba($color-primary-light, 0.8),
             rgba($color-primary-dark, 0.8)),
         url(../img/hero.jpg);
    //  clip-path: polygon(0 0, 100% 0, 100% 81rem, 0 100%);
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0px 14px 40px 15px rgba(0,0,0,0.75);

    @include mq($phone) {
        height: 70rem;
    }

    @include mq($phone-sm) {
        height: 60rem;
    }
    
    @include mq($phone-xs) {
        height: 50rem;
    }

    &__logo-box {
        position: absolute;
        top: 4.8rem;
        left: 4.8rem;
        height: 7rem;
        z-index: 100;
        object-fit: cover;
        object-position: center center;
        clip-path: circle(50% at 50% 60%);  
        transition: all ease-out;
        animation-name: moveFromTop;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: backwards;
    }

    &__logo {
        height: 8.2rem;
        z-index: 100;
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @include mq($phone) {
            top: 65%;
        }
    }

}

.speech-bubble {
    opacity: 0;
    position: relative;
    background: $color-secondary-dark;
    border-radius: .4em;
    width: 10rem;
    height: 5rem;
    top: 6.8rem;
    left: 16rem;
    animation-name: moveInLeftAndDisappear;
    animation-duration: 3s;
    animation-delay: 2.3s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(1,-0.14,1,-0.03);


    &__text {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        line-height: 2.5rem;
        font-family: 'Courier New', Courier, monospace;
        color: $color-white;
    }

}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: -1rem;
    top: 50%;
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    border-right-color: $color-secondary-dark;
    border-left: 0;
    margin-top: -1rem;
    margin-left: 0rem;
}

.speech-bubble--second {
    animation-delay: 4s;
    position: absolute;
    top: 6.8rem;
    left: 16rem;
    animation-duration: 10s;
    background-color: $color-tertiary-light;

    .speech-bubble__text {
        font-size: 1.5rem;
    }

}

.speech-bubble--second:after {
    border-right-color: $color-tertiary-light;
}