
.arrow__wrapper {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 55px;
    height: 55px;
    opacity: 0;
    z-index: 5;
    margin: 0;

    @include mq($tablet) {
        right: 1.8rem;
        bottom: 1.8rem;
    }
    @include mq($phone) {
        right: 1.5rem;
        bottom: 1.5rem;
    }


    &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -44px;
    left: -18px;
    width: 160%;
    height: 90%;
    background-image: url(https://d33wubrfki0l68.cloudfront.net/10f9f40f8856e393ab4525a46bd8e60af9580324/0ab7a/images/shadow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0;
}

&:hover::after {
      display: none;
  }
}

.arrow {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: rgba($color-secondary-light, 0.2);
    border-radius: 5px;
    transform: rotateZ(-10deg);
    transition: all 0.3s ease;
  
  &:hover {
    transform: rotateZ(0deg) translateY(5px);
    background-color: rgba($color-secondary-light, 1);
  }
}

  .arrow-image {
    display: block;
    object-fit: cover;
    transform: rotatez(180deg);
    width: 80%;
    height: 90%;
    margin: auto;
  }