.btn {

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        position: relative;
        font-size: $default-font-size;
        border: none;
        cursor: pointer;
        font-weight: bold;

        @include mq($tablet-sm) {
            padding: 1.3rem 3.5rem;
            font-size: 1.5rem;
        }

        @include mq($phone-xs) {
            padding: 1rem 3rem;
            font-size: 1.4rem;
        }
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 10px 20px rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        transform: translateY(-.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
        outline: none;
    }

    &--alt {
        background-color: $color-secondary-light;
        color: $color-white;
        font-weight: bold;
        text-shadow: 4px 3px 6px rgba($color-black, 0.7);
        box-shadow: 0 0.5rem 1rem rgba($color-white, 0.2);

        &:hover {
            box-shadow: 0 10px 10px rgba($color-white, 0.2);
        }

        &:active,
        &:focus {
            transform: translateY(-.1rem);
            box-shadow: 0 0.5rem 1rem rgba($color-white, 0.2);
            outline: none;

        }
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--black {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--animation {
        animation-name: moveFromBottom;
        animation-duration: 0.5s;
        animation-delay: 1.75s;
        animation-fill-mode: backwards;
        animation-timing-function: ease-out;
    }
}

.btn-text {
    &:link,
    &:visited {
        display: inline-block;
        color: $color-primary;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        font-size: $default-font-size;
        font-weight: 500;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0px);
    }
}