.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000;
    background-color: rgba($color-black, .8);
    height: 100vh;
    width: 100vw;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target .popup__content {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    .popup__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.1);
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        width: 65%;
        background-color: $color-white;
        border-radius: 3px;
        margin: auto;
        overflow: hidden;
        max-height: 80%;
        transition: all .5s .2s;
        opacity: 0;
        padding: 0 6rem;

        @include mq-large($big-desktop) {
            width: 95rem;
        }

        @include mq($tablet) {
            padding: 0 3rem;
        }

        @include mq($tablet-sm) {
            width: 90%;
        }

        @include mq($phone-sm) {
            padding: 0;
            max-height: 90%;
        }
    }

    .popup__content-image {
        display: block;
        width: 100%;
        height: 50%;
        object-fit: cover;

        @include mq($phone-md) {
            height: auto;
            width: 50%;
            object-fit: cover;
        }
    }

    .popup__content-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        width: 100%;
        height: auto;

        @include mq($phone-md) {
            width: 100%;
        }

        .btn,
        .heading-secondary {
            align-self: flex-start;
        }
    }

    .popup__content-text {
        font-size: 1.8rem;
        margin-bottom: 2rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light;

        @include mq($phone-md) {
            column-count: 1;
        }
    }
    .popup__content-buttons {
        display: flex;
        justify-content: space-around;
    }

    .popup-close {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 2rem;
        text-decoration: none;
        font-weight: 900;
        z-index: 10;

        &:hover {
            color: $color-primary;
        }
    }
}

.popup-close {

    &:visited #popup {
        display: none;
    }
}