*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

    @include mq($tablet-l) {
        font-size: 59.25%;
    }
    
    @include mq($tablet) {
        font-size: 57%;
    }

    @include mq($phone) {
        font-size: 50%;
    }

    @include mq-large($big-desktop) {
        font-size: 70%;
    }
}

body {
    box-sizing:border-box;
    
    @include mq($tablet) {
        padding: 0;
    }
        }