.section-features {
    padding:15rem 0;
    text-align: center;
    background-image: linear-gradient(to top,
            rgba($color-primary-light, 0.2),
            rgba($color-primary-dark, 1)),
        url(../img/big-code.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    
}
.section-about {
    background-image: linear-gradient(to top,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 1));
    padding:15rem 0 15rem 0; 
    text-align: center;
    box-shadow: 0px -4px 40px 15px rgba(0,0,0,0.75);
    
}
.section-stories {
    padding: 15rem 0;
    position: relative;
    
}

